#home {
    position: relative;
    width: 1170px;
    margin: auto;
    padding: 10px;
}

#topbtns {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}

#topbtns>button:hover {
    background-color: black;
    color: white;
}

#searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 192, 203, 0.811);
}

#search {
    background-color: white;
    height: 60px;
    width: 40vw;
}

.places {
    text-align: start;
    margin-top: 5vh;

}

.tourCard {
    position: relative;
}

.tourCard:hover .tourTitle  {
    text-decoration: underline;
}


@media screen and (max-width: 1023px) {
    #home {
        width: 90%;
    }

    #topbtns {
        grid-template-columns: repeat(3, 1fr);
    }

    #search {
        width: 70vw;
    }

    #tripsIcon {
        display: none;
    }


}

@media screen and (max-width: 768px) {
    #home {
        width: 100%;
    }

    #topbtns {
        grid-template-columns: repeat(2, 1fr);
    }



}