#navbar {
    width: 1170px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    margin: auto;
}

#navItems_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: relative;
}

.navItems_child {
    padding: 9px;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.navItems_child:hover {
    background-color: rgba(128, 128, 128, 0.374);
}

.search_btn {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

#logo {
    width: 190px;
}


#cross {
    cursor: pointer;
}

#profileItems {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    bottom: -195px;
    color: black;
    right: 0;
}

.profileText {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.profileText:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.229);
}

@media screen and (max-width: 1023px) {
    .navText {
        display: none;
    }

    #navbar {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .hideBtn {
        display: none;
    }

    .search_btn {
        display: block;
    }

    .hamburger {
        display: block;
    }

    #navbar {
        width: 100%;
    }

    #logo {
        width: 140px;
    }
}